html {
    box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
    /* height & width will now include border & padding by default
     but can be over-ridden as needed */
    box-sizing: inherit;
}
    /* resets font size to be 62.5% of the user preference - 
    in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}
body {
    background-image: linear-gradient(to bottom, #442525, #592424, #6e2222, #821f1f, #961919);
    /* Use a system font, if none are available use an available sans-sarif font */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 0;
    height: 100vh;
    color: #fff4f0;
    display: grid;
    grid-template-columns: 0.75fr 3fr 0.75fr;
    grid-template-rows: 1fr 1fr 1fr;
   
}

header{
    font-family: 'Ewert', cursive;
    font-size: 2rem;
    text-align: center;
    margin: auto;
    color:rgba(240, 226, 147, 0.979);

}

#playing-field{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    border: 4px solid black;
    border-radius: 10%;
    display: grid;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/109/252/original/free-vector-casino-royale-background.jpg");     
    
}
.ml12 {
    font-family: 'Ewert', cursive;
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    color:rgba(240, 226, 147, 0.979);
    text-transform: uppercase;
    letter-spacing: 1em;
}
  
.ml12 .letter {
    display: inline-block;
    line-height: 2em;
}

#player-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#player-update {
  position: absolute;
  margin-top: 0%;
  margin-right: 40%;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(240, 226, 147, 0.979);
  background-color: rgba(112, 6, 6, 0.692);
  padding: 5px;
  
}

#dealer-side {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  
}

#dealer-update {
    position: absolute;
    margin-bottom: 50%;
    margin-right: 40%;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgba(240, 226, 147, 0.979);
    background-color: rgba(80, 3, 3, 0.74);
    padding: 5px;
    
}

#action {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    display: grid;
    margin-right: 20px;
    margin-left: 20px;
    font-weight: bold;
}

#status-box {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    display: grid;
    justify-items: stretch;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.4rem;
    color: rgba(240, 226, 147, 0.979);
    text-align: center;
}
#bet {
    background-color: rgba(240, 226, 147, 0.979) ;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;
}
#deal{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#deal:hover{
    background-color: rgba(203, 185, 226, 0.822);

}
#dd{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#dd:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#stand{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#stand:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#hit{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#hit:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#push{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#push:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#fold{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#fold:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#next-hand{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#next-hand:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#newGame{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#newGame:hover{
    background-color: rgba(203, 185, 226, 0.822);
}
#quit{
    background-color:rgb(240, 226, 147);
    margin: 2px;
    font-weight: bold;
    padding: 2px;
}
#quit:hover{
    background-color: rgba(203, 185, 226, 0.822);
}


.special{
    display: none;
}